In [120]:
import spacy
import pandas as pd
from collections import Counter
from itertools import chain
import spacy
from spacy import displacy

In [121]:
nlp = spacy.load("en_core_web_sm")

In [122]:
df_train = pd.read_csv("dataset/df_processado_completo.csv")
X = df_train['text_processed_spacy']
y = df_train['sentiment_cate'].to_numpy()

##### Exibe as categorias do texto

In [123]:
def categorias(text):    
    doc = nlp("Apple is looking at buying U.K. startup for $1 billion")
    df = pd.DataFrame(columns = ['Text', 'Lemma', 'Pos','Dep','Is Stop'])
    for token in doc:
        df=df.append({'Text' : str(token.text) , 'Lemma' : str(token.lemma_), 'Pos' : str(token.pos_),'Dep' : str(token.dep_),'Is Stop' : str(token.is_stop)},ignore_index=True)
    return df

In [124]:
categorias("Apple is looking at buying U.K. startup for $1 billion")

       Text    Lemma    Pos       Dep Is Stop
0     Apple    Apple  PROPN     nsubj   False
1        is       be    AUX       aux    True
2   looking     look   VERB      ROOT   False
3        at       at    ADP      prep    True
4    buying      buy   VERB     pcomp   False
5      U.K.     U.K.  PROPN      dobj   False
6   startup  startup   NOUN     advcl   False
7       for      for    ADP      prep    True
8         $        $    SYM  quantmod   False
9         1        1    NUM  compound   False
10  billion  billion    NUM      pobj   False

##### Retorna a frequencia de cada palavra

In [125]:
def word_frequency(df):
    words_freq = list(sorted(words_counts.items(), key=lambda x: x[1], reverse=True))
    df_word_frequency = pd.DataFrame(words_freq,columns = ['word', 'frequency'])
    df_word_frequency = df_word_frequency.drop(index=0)
    return df_word_frequency

In [126]:
df_word_frequency = word_frequency(X)

In [127]:
df_word_frequency

               word  frequency
1             movie     102382
2              film      94804
3                nt      67672
4              like      44037
5              good      41177
...             ...        ...
113592       hoganc          1
113593        haaaa          1
113594  peacemaking          1
113595      centavo          1
113596       easyif          1

[113596 rows x 2 columns]

In [128]:
unique_frequency = list(df_word_frequency.query('frequency==1').word)

TESTE

In [130]:
def pos(token_frequency):
    pos_completo = list()
    for token in token_frequency:
        pos = list()
        doc = nlp(token)
        for token in doc:
            pos.append(token.pos_)
        pos_completo.append(pos)
    return pos_completo

df_word_frequency = df_word_frequency.query('frequency>3')
token_frequency = list(df_word_frequency.word)
df_word_frequency['pos'] = pos(token_frequency)

In [150]:
df_word_frequency

              word  frequency     pos
1            movie     102382  [NOUN]
2             film      94804  [NOUN]
3               nt      67672  [PART]
4             like      44037  [INTJ]
5             good      41177   [ADJ]
...            ...        ...     ...
35987       reymar          4  [NOUN]
35988         evee          4  [NOUN]
35989  hepplewhite          4  [VERB]
35990      metalle          4  [NOUN]
35991       mealie          4  [NOUN]

[35991 rows x 3 columns]

In [151]:
##fazer grafico de acordo com as posições de cada um

In [140]:
doc = nlp('hoganc')

In [141]:
for token in doc:
    print(token.pos_)

VERB

##### Mostra as dependencias

In [82]:
text = str(df_train['text'][1])
doc = nlp(text)
displacy.render(doc, style="ent",jupyter=True)